<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.etsmtl.gti350.shoppingright" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AjouterPrixCategorieActivity"
            android:label="@string/AjouterPrixCategorieActivity" >
        </activity>

        <activity
            android:name=".AjouterPrixArticleActivity"
            android:label="@string/AjouterPrixArticleActivity" >
        </activity>

        <activity
            android:name=".ConsulterPrixActivity"
            android:label="@string/ConsulterPrixActivity" >
        </activity>

        <activity
            android:name=".ListesAchatsActivity"
            android:label="@string/ListesAchatsActivity" >
        </activity>

        <activity
            android:name=".ExporterActivity"
            android:label="@string/ExporterActivity" >
        </activity>


        <activity
            android:name=".ImporterActivity"
            android:label="@string/ImporterActivity" >
        </activity>

        <activity
            android:name=".AjouterCategorieActivity"
            android:label="@string/AjouterCategorieActivity" >
        </activity>
        <activity
            android:name=".AjouterMagasinActivity"
            android:label="@string/AjouterMagasinActivity" >
        </activity>

    </application>

</manifest>
